[Desktop Entry]
Name=jdAnimatedImageEditor
Terminal=false
Type=Application
Icon=com.gitlab.JakobDev.jdAnimatedImageEditor
Exec=jdanimatedimageeditor %f
Comment=A simple program for creating animated Images
Comment[de]=Ein einfaches Programm zum erstellen von animierten Bildern
Comment[sv]=Ett enkelt program för att skapa animerade bilder
Categories=Graphics;Qt;
MimeType=image/gif;image/png;
