[Desktop Entry]
Name=jdAnimatedImageEditor
Terminal=false
Type=Application
Icon=com.gitlab.JakobDev.jdAnimatedImageEditor
Exec=jdanimatedimageeditor %f
TryExec=jdanimatedimageeditor
Comment=A simple program for creating animated Images
Categories=Graphics;Qt;
MimeType=image/gif;image/png;
